h3 {
	color: green;
}
.text-center {
	color: green;
}
.support {
	color: blue;
	text-align: center;
}
#request {
	list-style: none;
}
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: 20px;
}
.checkbox label, .radio label {
    margin-left: 20px;
    font-weight: bold;
}
.btn-success {
    color: #fff;
    background-color: #1354a5;
    border-color: #043508;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.adresa {
    text-align: right;
    line-height: 6.5px;
    margin-top: 16px;
    font-size: 15px
}
.logo {
    margin-top: 16px;
}
.posht-header{
    text-align: center;
    margin-top: 120px;
}
.posht-header h2 {
    background: #505050;
    color: #fff;
    width: 100%;
    margin-left: 0px;
    padding: 24px;
    margin-bottom: 0px;
    font-size: 40px;
}
.posht-header h3 {
    font-size: 35px;
    }
.tjetra-header h4 {
    font-size: 20px;
    }
.posht-header h5 {
    font-size: 25px;
    }
.details {
    background: #bf9000;
    color: #fff;
    width: 100%;
    margin-left: 0px;
    padding: 24px;
}
.container {
    margin-top: 200px;
}
.tjetra-header{
    border-bottom: 1px solid #DDD;
    text-align: center;
    padding-bottom: 50px;
}
.summary {
    margin-top: 50px;
}
.summary span {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 32px;
    margin-top: 70px;
}
.summary p {
    margin-left: 25px;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: justify;
    font-size: 20px;
}
.ngjyra {
    padding: 10px;
    background: #bf9000;
    width: 20px;
    margin-top: -24px;

}


/*.multibox {
	margin-left: -16px;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    list-style: none;
}