<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylepdf.css')}}">
</head>
<body>
	<div class="container">
	<div class="header">
		<div class="row">
			<div class="col-sm-6 logo">
				<img class="img-responsive" src="{{img}}">
			</div>
			<div class="col-sm-6 adresa">
				<p>Address : </p>
				<p>Rr. Tirane-Rinas,Km. 12, 1039 Tirana/ALBANIA</p>
				<p>T: +355 4 2232 086 F: +355 4 2222 117</p>
				<p>Email: info@epoka.edu.al</p>
			</div>
			<br/>
		</div>
	</div>
	<div class="posht-header">
		<h2>Media and PR Support Request Form</h2>
		<div class="details">
			<h3>Office/Department:</h3>
			<h5>Student Clubs and Activities Office</h5>
		</div>
	</div>
	<div class="tjetra-header">
		<h3><b>Requesting person:</b> Rexhep Dokja</h3>
		<h4><b>Request date:</b> 1/7/2016 10:08:21</h4>
	</div>
	<div class="summary">
		<div class="row ">
		
<table>
		
	<tr>
		<td>
			<div class="col-sm-6"><span>Title of the Activity:</span>
			<div class="ngjyra"></div></div>
		</td>
		<td>
 			<div class="col-sm-6"><span>Type of the activity:</span>
 			<div class="ngjyra"></div></div>
 		</td>
 	</tr>
 	<tr>
 		<td>
 			<div class="col-sm-6"><p>Do ta bejme apo jo</p></div>
 		</td>
 		<td>
			<div class="col-sm-6"><p>{{title}}</p></div>
		</td>
	</tr>
	<tr>
		<td>

 			<div class="col-sm-6"><span>Date of the activity:</span>
 			<div class="ngjyra"></div></div>
 		</td>
		<td>
			<div class="col-sm-6"><span>Venue of the activity:</span>
 			<div class="ngjyra"></div></div>
 		</td>
 	</tr>
 	<tr>
 		<td>
 			<div class="col-sm-6"><p>open forum</p></div>
 		</td>
 		<td>
			<div class="col-sm-6"><p>open forum</p></div>
		</td>
	</tr>
	<tr>
		<td>
 			<div class="col-sm-6"><span>Requested support:</span>
 			<div class="ngjyra"></div></div>
 		</td>
 		<td>
 			<div class="col-sm-6"><span>Celebrities/public figures invited:</span>
 			<div class="ngjyra"></div></div>
 		</td>
 	</tr>
 	<tr>
 		<td>
 			<div class="col-sm-6"><p>open forum</p></div>
 		</td>
 		<td>
			<div class="col-sm-6"><p>open forum</p></div>
		</td>
	</tr>
	<tr>
		<td>
 			<div class="col-sm-6"><span>Brief on activity:</span>
 			<div class="ngjyra"></div></div>
 		</td>
 	</tr>
 	</table>
 			<div class="col-sm-12"><p>{{brief}}</p></div>

		</div>
	</div>

</div>
</body>
</html>
